00_Simplified_Master_Agent.json
{
  "name": "✅ Simplified Master Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "construction-ai-simplified",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-a7b8-c9d0-e1f2a3b4c5d6",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "simplified-construction-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst requestType = body.requestType || 'unknown';\n\nif (requestType === 'unknown') {\n  throw new Error('Validation Error: requestType is missing or invalid.');\n}\n\n$input.first().json.requestType = requestType;\nreturn $input.all();"
      },
      "id": "b2c3d4e5-f6a7-b8c9-d0e1-f2a3b4c5d6e7",
      "name": "Input Validator",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ],
      "onError": "continue"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "convert"
                  }
                ]
              },
              "outputKey": "convert"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "validate"
                  }
                ]
              },
              "outputKey": "validate"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "classify"
                  }
                ]
              },
              "outputKey": "classify"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "leftValue": "={{ $json.requestType }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "rightValue": "estimate_cost"
                  }
                ]
              },
              "outputKey": "estimate_cost"
            }
          ]
        },
        "options": {
          "fallbackOutput": "unsupported"
        }
      },
      "id": "c3d4e5f6-a7b8-c9d0-e1f2-a3b4c5d6e7f8",
      "name": "Simplified Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "YOUR_CONVERSION_WORKFLOW_ID"
      },
      "id": "d4e5f6a7-b8c9-d0e1-f2a3-b4c5d6e7f8a9",
      "name": "Execute CAD-BIM Conversion",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        100
      ]
    },
    {
      "parameters": {
        "workflowId": "YOUR_VALIDATION_WORKFLOW_ID"
      },
      "id": "e5f6a7b8-c9d0-e1f2-a3b4-c5d6e7f8a9b0",
      "name": "Execute CAD-BIM Validation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "workflowId": "YOUR_CLASSIFICATION_WORKFLOW_ID"
      },
      "id": "f6a7b8c9-d0e1-f2a3-b4c5-d6e7f8a9b0c1",
      "name": "Execute CAD-BIM Classification",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "workflowId": "YOUR_COST_ESTIMATION_WORKFLOW_ID"
      },
      "id": "a7b8c9d0-e1f2-a3b4-c5d6-e7f8a9b0c1d2",
      "name": "Execute Cost Estimation",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "workflowId": "YOUR_ERROR_HANDLER_WORKFLOW_ID"
      },
      "id": "b8c9d0e1-f2a3-b4c5-d6e7-f8a9b0c1d2e3",
      "name": "Handle Error",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "responseCode": "={{ $json.statusCode || 200 }}",
        "options": {}
      },
      "id": "c9d0e1f2-a3b4-c5d6-e7f8-a9b0c1d2e3f4",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1120,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Input Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validator": {
      "main": [
        [
          {
            "node": "Simplified Router",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simplified Router": {
      "main": [
        [
          {
            "node": "Execute CAD-BIM Conversion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute CAD-BIM Validation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute CAD-BIM Classification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Cost Estimation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CAD-BIM Conversion": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CAD-BIM Validation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CAD-BIM Classification": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Cost Estimation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "triggerCount": 1,
  "versionId": "1.0"
}