workflows/04_Reports_Out.json
{
  "name": "04_Reports_Out",
  "nodes": [
    {"parameters": {}, "type": "n8n-nodes-base.manualTrigger", "typeVersion": 1, "position": [260, 300], "name": "Start"},
    {"parameters": {"assignments": {"assignments": [
      {"name": "drive_root", "type": "string", "value": "Drive/Projects", "id": "r1"},
      {"name": "project_name", "type": "string", "value": "DemoProject", "id": "r2"}
    ]}}, "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [520, 300], "name": "Defaults"},
    {"parameters": {"jsCode": "// Simulate summary data\nreturn [{ json: { total_cost: 123456, total_area: 1200.5, roof_area: 320.2, updated: new Date().toISOString() } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [780, 300], "name": "Summary Data"},
    {"parameters": {"jsCode": "// Build HTML report\nconst d = $input.first().json;\nconst html = `<!DOCTYPE html><html><head><meta charset=\"utf-8\"><title>Project Report</title><style>body{font-family:Arial;margin:24px}h1{margin:0 0 12px}table{border-collapse:collapse}td,th{border:1px solid #ddd;padding:8px}</style></head><body><h1>Project Report - ${d.project_name || 'DemoProject'}</h1><p>Updated: ${d.updated}</p><table><tr><th>Metric</th><th>Value</th></tr><tr><td>Total Cost</td><td>€${d.total_cost.toLocaleString()}</td></tr><tr><td>Total Area</td><td>${d.total_area} m²</td></tr><tr><td>Roof Area</td><td>${d.roof_area} m²</td></tr></table></body></html>`;\nreturn [{ json: { html } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 300], "name": "Generate HTML"},
    {"parameters": {"jsCode": "// Prepare binary file\nconst html = $input.first().json.html;\nreturn [{ json: {}, binary: { data: { data: Buffer.from(html).toString('base64'), mimeType: 'text/html', fileName: 'report.html' } } }];"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1300, 300], "name": "To Binary"},
    {"parameters": {"operation": "upload", "binaryData": true}, "type": "n8n-nodes-base.googleDrive", "typeVersion": 3, "position": [1560, 300], "name": "Upload to Drive/Reports"},
    {"parameters": {"subject": "Project Report - {{$node['Defaults'].json.project_name}}", "text": "Latest report uploaded to Drive/Reports.", "attachments": [{"property": "data"}]}, "type": "n8n-nodes-base.gmail", "typeVersion": 2, "position": [1820, 300], "name": "Email Report"}
  ],
  "connections": {
    "Start": {"main": [[{"node": "Defaults", "type": "main", "index": 0}]]},
    "Defaults": {"main": [[{"node": "Summary Data", "type": "main", "index": 0}]]},
    "Summary Data": {"main": [[{"node": "Generate HTML", "type": "main", "index": 0}]]},
    "Generate HTML": {"main": [[{"node": "To Binary", "type": "main", "index": 0}]]},
    "To Binary": {"main": [[{"node": "Upload to Drive/Reports", "type": "main", "index": 0}, {"node": "Email Report", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"}
}
