construction-platform/n8n-workflows/cad-bim/n8n_Real_Time_Data_Update_Workflow.json
{
  "name": "Real-Time Data Update Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [400, 300],
      "id": "manual-trigger",
      "name": "Start Data Update"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "webhook-url",
              "name": "webhook_url",
              "value": "http://localhost:5000/webhook/project-data",
              "type": "string"
            },
            {
              "id": "material-webhook-url",
              "name": "material_webhook_url",
              "value": "http://localhost:5000/webhook/material-costs",
              "type": "string"
            },
            {
              "id": "api-base-url",
              "name": "api_base_url",
              "value": "http://localhost:5000/api",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [600, 300],
      "id": "setup-urls",
      "name": "Setup API URLs"
    },
    {
      "parameters": {
        "jsCode": "// Generate sample real project data for testing\nconst sampleProjects = [\n  {\n    project_name: 'Luxury Villa Hamburg 2024',\n    property_type: 'villa',\n    size_sqm: 450,\n    bedrooms: 6,\n    bathrooms: 5,\n    floors: 3,\n    construction_year: 2024,\n    location: 'Hamburg',\n    quality_level: 'premium',\n    actual_total_cost: 1200000,\n    construction_start_date: '2024-01-15',\n    construction_end_date: '2024-12-20',\n    contractor_name: 'Hamburg Bau AG',\n    project_status: 'in_progress',\n    data_source: 'contractor_quote'\n  },\n  {\n    project_name: 'Modern Apartment Cologne 2023',\n    property_type: 'apartment',\n    size_sqm: 95,\n    bedrooms: 2,\n    bathrooms: 1,\n    floors: 1,\n    construction_year: 2023,\n    location: 'Cologne',\n    quality_level: 'standard',\n    actual_total_cost: 180000,\n    construction_start_date: '2023-06-01',\n    construction_end_date: '2023-12-15',\n    contractor_name: 'Köln Bau GmbH',\n    project_status: 'completed',\n    data_source: 'manual'\n  },\n  {\n    project_name: 'Family House Frankfurt 2024',\n    property_type: 'family_house',\n    size_sqm: 220,\n    bedrooms: 4,\n    bathrooms: 3,\n    floors: 2,\n    construction_year: 2024,\n    location: 'Frankfurt',\n    quality_level: 'luxury',\n    actual_total_cost: 650000,\n    construction_start_date: '2024-03-01',\n    construction_end_date: '2024-11-30',\n    contractor_name: 'Frankfurt Construction Ltd',\n    project_status: 'completed',\n    data_source: 'contractor_quote'\n  }\n];\n\nconsole.log(`Generated ${sampleProjects.length} sample projects for testing`);\n\nreturn sampleProjects.map(project => ({ json: project }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 300],
      "id": "generate-sample-data",
      "name": "Generate Sample Real Project Data"
    },
    {
      "parameters": {
        "url": "={{ $json.webhook_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "project_name",
              "value": "={{ $json.project_name }}"
            },
            {
              "name": "property_type",
              "value": "={{ $json.property_type }}"
            },
            {
              "name": "size_sqm",
              "value": "={{ $json.size_sqm }}"
            },
            {
              "name": "bedrooms",
              "value": "={{ $json.bedrooms }}"
            },
            {
              "name": "bathrooms",
              "value": "={{ $json.bathrooms }}"
            },
            {
              "name": "floors",
              "value": "={{ $json.floors }}"
            },
            {
              "name": "construction_year",
              "value": "={{ $json.construction_year }}"
            },
            {
              "name": "location",
              "value": "={{ $json.location }}"
            },
            {
              "name": "quality_level",
              "value": "={{ $json.quality_level }}"
            },
            {
              "name": "actual_total_cost",
              "value": "={{ $json.actual_total_cost }}"
            },
            {
              "name": "construction_start_date",
              "value": "={{ $json.construction_start_date }}"
            },
            {
              "name": "construction_end_date",
              "value": "={{ $json.construction_end_date }}"
            },
            {
              "name": "contractor_name",
              "value": "={{ $json.contractor_name }}"
            },
            {
              "name": "project_status",
              "value": "={{ $json.project_status }}"
            },
            {
              "name": "data_source",
              "value": "={{ $json.data_source }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 300],
      "id": "send-project-data",
      "name": "Send Project Data to Webhook"
    },
    {
      "parameters": {
        "jsCode": "// Generate material cost updates\nconst materialUpdates = [\n  {\n    material_name: 'Concrete Foundation',\n    material_category: 'structural',\n    unit: 'm3',\n    new_cost_per_unit: 130,  // Increased from 125\n    region: 'Germany',\n    quality_level: 'standard',\n    update_source: 'market_data',\n    notes: 'Price increase due to energy costs'\n  },\n  {\n    material_name: 'Brick Wall',\n    material_category: 'structural',\n    unit: 'm2',\n    new_cost_per_unit: 52,  // Increased from 48\n    region: 'Germany',\n    quality_level: 'standard',\n    update_source: 'supplier_price',\n    notes: 'Supplier price update Q1 2024'\n  },\n  {\n    material_name: 'Roof Tiles',\n    material_category: 'roofing',\n    unit: 'm2',\n    new_cost_per_unit: 38,  // Increased from 35\n    region: 'Germany',\n    quality_level: 'standard',\n    update_source: 'market_data',\n    notes: 'Market price adjustment'\n  },\n  {\n    material_name: 'Hardwood Flooring',\n    material_category: 'finishing',\n    unit: 'm2',\n    new_cost_per_unit: 85,  // Increased from 80\n    region: 'Germany',\n    quality_level: 'standard',\n    update_source: 'supplier_price',\n    notes: 'Wood price increase'\n  },\n  {\n    material_name: 'Marble Countertop',\n    material_category: 'finishing',\n    unit: 'm2',\n    new_cost_per_unit: 220,  // Increased from 200\n    region: 'Germany',\n    quality_level: 'standard',\n    update_source: 'market_data',\n    notes: 'Luxury material price increase'\n  }\n];\n\nconsole.log(`Generated ${materialUpdates.length} material cost updates`);\n\nreturn [{\n  json: {\n    material_updates: materialUpdates\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 300],
      "id": "generate-material-updates",
      "name": "Generate Material Cost Updates"
    },
    {
      "parameters": {
        "url": "={{ $node['Setup API URLs'].json.material_webhook_url }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "material_updates",
              "value": "={{ $json.material_updates }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1400, 300],
      "id": "send-material-updates",
      "name": "Send Material Updates to Webhook"
    },
    {
      "parameters": {
        "url": "={{ $node['Setup API URLs'].json.api_base_url }}/quality-report",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1600, 300],
      "id": "get-quality-report",
      "name": "Get Data Quality Report"
    },
    {
      "parameters": {
        "jsCode": "// Process webhook responses and quality report\nconst projectResponses = $node['Send Project Data to Webhook'].json;\nconst materialResponses = $node['Send Material Updates to Webhook'].json;\nconst qualityReport = $node['Get Data Quality Report'].json;\n\nconsole.log('Processing webhook responses...');\n\n// Count successful project additions\nconst successfulProjects = Array.isArray(projectResponses) ? projectResponses.length : 1;\nconst successfulMaterials = materialResponses?.updated_materials?.length || 0;\n\n// Extract quality metrics\nconst qualityMetrics = qualityReport?.quality_report || {};\n\nconst summary = {\n  timestamp: new Date().toISOString(),\n  successful_projects_added: successfulProjects,\n  successful_material_updates: successfulMaterials,\n  total_projects_in_database: qualityMetrics.total_projects || 0,\n  average_confidence: qualityMetrics.avg_confidence || 0,\n  high_confidence_projects: qualityMetrics.high_confidence_projects || 0,\n  total_materials: qualityMetrics.total_materials || 0,\n  recent_updates: qualityMetrics.recent_updates || 0,\n  data_quality_score: qualityMetrics.data_quality_score || 0,\n  source_breakdown: qualityMetrics.source_breakdown || {}\n};\n\nconsole.log('Data update summary:', summary);\n\nreturn [{ json: summary }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1800, 300],
      "id": "process-responses",
      "name": "Process Webhook Responses"
    },
    {
      "parameters": {
        "jsCode": "// Generate comprehensive update report\nconst summary = $input.first().json;\n\nconst htmlReport = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Real-Time Data Update Report</title>\n    <style>\n        body { font-family: Arial, sans-serif; margin: 40px; background: #f5f5f5; }\n        .container { background: white; padding: 30px; border-radius: 10px; box-shadow: 0 2px 10px rgba(0,0,0,0.1); }\n        .header { text-align: center; margin-bottom: 30px; }\n        .summary { display: grid; grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); gap: 20px; margin: 20px 0; }\n        .metric { background: #f8f9fa; padding: 20px; border-radius: 8px; text-align: center; }\n        .metric-value { font-size: 2em; font-weight: bold; color: #2c3e50; }\n        .metric-label { color: #7f8c8d; margin-top: 5px; }\n        .success { color: #27ae60; }\n        .warning { color: #f39c12; }\n        .info { color: #3498db; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th, td { padding: 12px; text-align: left; border-bottom: 1px solid #ddd; }\n        th { background: #34495e; color: white; }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🔄 Real-Time Data Update Report</h1>\n            <p>Generated on ${new Date(summary.timestamp).toLocaleString()}</p>\n        </div>\n        \n        <div class=\"summary\">\n            <div class=\"metric\">\n                <div class=\"metric-value success\">${summary.successful_projects_added}</div>\n                <div class=\"metric-label\">Projects Added</div>\n            </div>\n            <div class=\"metric\">\n                <div class=\"metric-value success\">${summary.successful_material_updates}</div>\n                <div class=\"metric-label\">Materials Updated</div>\n            </div>\n            <div class=\"metric\">\n                <div class=\"metric-value info\">${summary.total_projects_in_database}</div>\n                <div class=\"metric-label\">Total Projects</div>\n            </div>\n            <div class=\"metric\">\n                <div class=\"metric-value info\">${summary.total_materials}</div>\n                <div class=\"metric-label\">Total Materials</div>\n            </div>\n            <div class=\"metric\">\n                <div class=\"metric-value ${summary.data_quality_score > 0.8 ? 'success' : summary.data_quality_score > 0.6 ? 'warning' : 'info'}\">${(summary.data_quality_score * 100).toFixed(1)}%</div>\n                <div class=\"metric-label\">Data Quality Score</div>\n            </div>\n            <div class=\"metric\">\n                <div class=\"metric-value info\">${summary.high_confidence_projects}</div>\n                <div class=\"metric-label\">High Confidence Projects</div>\n            </div>\n        </div>\n        \n        <h2>📊 Data Quality Metrics</h2>\n        <table>\n            <thead>\n                <tr>\n                    <th>Metric</th>\n                    <th>Value</th>\n                    <th>Status</th>\n                </tr>\n            </thead>\n            <tbody>\n                <tr>\n                    <td>Average Confidence</td>\n                    <td>${(summary.average_confidence * 100).toFixed(1)}%</td>\n                    <td class=\"${summary.average_confidence > 0.8 ? 'success' : summary.average_confidence > 0.6 ? 'warning' : 'info'}\">${summary.average_confidence > 0.8 ? 'Excellent' : summary.average_confidence > 0.6 ? 'Good' : 'Needs Improvement'}</td>\n                </tr>\n                <tr>\n                    <td>High Confidence Projects</td>\n                    <td>${summary.high_confidence_projects}</td>\n                    <td class=\"${summary.high_confidence_projects > summary.total_projects_in_database * 0.8 ? 'success' : summary.high_confidence_projects > summary.total_projects_in_database * 0.6 ? 'warning' : 'info'}\">${summary.high_confidence_projects > summary.total_projects_in_database * 0.8 ? 'Excellent' : summary.high_confidence_projects > summary.total_projects_in_database * 0.6 ? 'Good' : 'Needs Improvement'}</td>\n                </tr>\n                <tr>\n                    <td>Recent Updates (30 days)</td>\n                    <td>${summary.recent_updates}</td>\n                    <td class=\"${summary.recent_updates > 10 ? 'success' : summary.recent_updates > 5 ? 'warning' : 'info'}\">${summary.recent_updates > 10 ? 'Active' : summary.recent_updates > 5 ? 'Moderate' : 'Low'}</td>\n                </tr>\n            </tbody>\n        </table>\n        \n        <h2>📈 Data Source Breakdown</h2>\n        <table>\n            <thead>\n                <tr>\n                    <th>Data Source</th>\n                    <th>Project Count</th>\n                    <th>Percentage</th>\n                </tr>\n            </thead>\n            <tbody>\n                ${Object.entries(summary.source_breakdown).map(([source, count]) => `\n                    <tr>\n                        <td>${source}</td>\n                        <td>${count}</td>\n                        <td>${((count / summary.total_projects_in_database) * 100).toFixed(1)}%</td>\n                    </tr>\n                `).join('')}\n            </tbody>\n        </table>\n        \n        <div style=\"margin-top: 30px; padding: 20px; background: #ecf0f1; border-radius: 8px;\">\n            <h3>📝 Update Summary</h3>\n            <ul>\n                <li>✅ Successfully added ${summary.successful_projects_added} new projects to the database</li>\n                <li>✅ Updated ${summary.successful_material_updates} material costs</li>\n                <li>📊 Database now contains ${summary.total_projects_in_database} total projects</li>\n                <li>📊 Database contains ${summary.total_materials} material cost entries</li>\n                <li>🎯 Data quality score: ${(summary.data_quality_score * 100).toFixed(1)}%</li>\n                <li>🔄 Real-time updates are working correctly</li>\n            </ul>\n        </div>\n        \n        <div style=\"margin-top: 20px; padding: 20px; background: #e8f5e8; border-radius: 8px; border-left: 4px solid #27ae60;\">\n            <h3>✅ Next Steps</h3>\n            <ul>\n                <li>Continue adding real project data from completed projects</li>\n                <li>Update material costs regularly based on market data</li>\n                <li>Monitor data quality metrics and improve data sources</li>\n                <li>Use the updated database for more accurate cost estimations</li>\n            </ul>\n        </div>\n    </div>\n</body>\n</html>`;\n\n// Save HTML report\nconst fs = require('fs');\nconst path = require('path');\nconst outputPath = path.join('./Sample_Projects', 'real_time_data_update_report.html');\nfs.writeFileSync(outputPath, htmlReport);\n\nconsole.log(`HTML report saved to: ${outputPath}`);\n\nreturn [{\n  json: {\n    ...summary,\n    report_path: outputPath,\n    update_successful: true\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300],
      "id": "generate-update-report",
      "name": "Generate Update Report"
    },
    {
      "parameters": {
        "command": "=echo ✅ Real-Time Data Update Complete! & echo 📊 Projects Added: {{ $json.successful_projects_added }} & echo 💰 Materials Updated: {{ $json.successful_material_updates }} & echo 📈 Data Quality Score: {{ $json.data_quality_score.toFixed(1) }}% & echo 📁 Report saved to: {{ $json.report_path }} & echo. & echo 🎯 Database Status: & echo   Total Projects: {{ $json.total_projects_in_database }} & echo   Total Materials: {{ $json.total_materials }} & echo   High Confidence: {{ $json.high_confidence_projects }} & echo. & echo 🔄 Real-time updates are working! & echo ✅ Workflow completed successfully!"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [2200, 300],
      "id": "completion-message",
      "name": "Show Completion Message"
    }
  ],
  "connections": {
    "Start Data Update": {
      "main": [
        [
          {
            "node": "Setup API URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup API URLs": {
      "main": [
        [
          {
            "node": "Generate Sample Real Project Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sample Real Project Data": {
      "main": [
        [
          {
            "node": "Send Project Data to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Project Data to Webhook": {
      "main": [
        [
          {
            "node": "Generate Material Cost Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Material Cost Updates": {
      "main": [
        [
          {
            "node": "Send Material Updates to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Material Updates to Webhook": {
      "main": [
        [
          {
            "node": "Get Data Quality Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data Quality Report": {
      "main": [
        [
          {
            "node": "Process Webhook Responses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Webhook Responses": {
      "main": [
        [
          {
            "node": "Generate Update Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Update Report": {
      "main": [
        [
          {
            "node": "Show Completion Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1.0.0",
  "meta": {
    "instanceId": "real-time-data-update"
  },
  "id": "RealTimeDataUpdate",
  "tags": []
}
