construction-platform/n8n-workflows/construction/03_Materials_Accounting_Agent.json
{
  "name": "\ud83d\udcb0 Materials Accounting Agent - BOQ & Cost Estimation System",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        120,
        300
      ],
      "id": "4d9ca58b-1173-4fb9-9784-68e2be52e4f9",
      "name": "\ud83d\udce5 Called by Manager"
    },
    {
      "parameters": {
        "operation": "getAll",
        "documentId": {
          "__rl": true,
          "value": "MATERIALS_DATABASE_SHEET_ID",
          "mode": "list"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        280,
        300
      ],
      "id": "18e0afc9-9b55-4329-92bb-8a8c97957a27",
      "name": "\ud83d\udcd6 Read Materials Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "GOOGLE_SHEETS_OAUTH_CONSTRUCTION",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Professional BOQ calculation with Estonian 2025 pricing\nconst materials = $input.all().map(i => i.json);\nconst params = $('\ud83d\udce5 Called by Manager').item.json;\n\nconst estonianPricing = {\n  concrete: 85, rebar: 1.2, brick: 0.45, timber: 280,\n  insulation: 12, 'roof tile': 25, default: 50\n};\n\nconst boq = materials.map(m => ({\n  ...m,\n  unitCost: estonianPricing[m.item?.toLowerCase()] || estonianPricing.default,\n  totalCost: (m.quantity || 0) * (estonianPricing[m.item?.toLowerCase()] || estonianPricing.default)\n}));\n\nconst totalCost = boq.reduce((sum, m) => sum + (m.totalCost || 0), 0);\n\nreturn [{\n  json: {\n    projectName: params.projectName,\n    materials: boq,\n    totalCost,\n    currency: 'EUR',\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        300
      ],
      "id": "db27d131-b11e-4d03-82fb-bdf96f5c4f3d",
      "name": "\ud83e\uddee Calculate BOQ"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "name": "result",
              "value": "=\ud83d\udcb0 **Professional BOQ Generated**\\n\\n\ud83d\udccb **Project:** {{ $json.projectName }}\\n\ud83d\udcb0 **Total Cost:** \u20ac{{ $json.totalCost.toFixed(2) }}\\n\ud83d\udcca **Materials:** {{ $json.materials.length }} items\\n\ud83c\uddea\ud83c\uddea **Pricing:** Estonian market 2025\\n\\n\u2705 **Professional BOQ ready for client presentation**",
              "type": "string"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        640,
        300
      ],
      "id": "5bde8df6-cc3e-4276-96d3-5e3534105934",
      "name": "\ud83d\udce4 Format BOQ"
    }
  ],
  "connections": {
    "\ud83d\udce5 Called by Manager": {
      "main": [
        [
          {
            "node": "\ud83d\udcd6 Read Materials Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83d\udcd6 Read Materials Database": {
      "main": [
        [
          {
            "node": "\ud83e\uddee Calculate BOQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\ud83e\uddee Calculate BOQ": {
      "main": [
        [
          {
            "node": "\ud83d\udce4 Format BOQ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03_materials_accounting_agent-580e146d"
  },
  "tags": [
    {
      "id": "materials",
      "name": "materials"
    },
    {
      "id": "boq",
      "name": "boq"
    }
  ],
  "version": "2.1.0",
  "description": "Professional Bill of Quantities generation with 2025 Estonian market pricing"
}